$color-primary: #00c5aa;
$color-primary-dark: #00e8c7;
$color-accent:  #ff4dff;

$color-text:    #171717;
$color-text-dark: #eeeeee;
$color-alert:   #ef3939;
$color-inactive:#efb9ef;
$color-selection: #b4eee5;
$color-bg: #fdfdfd;
$color-bg-dark: #322e32;

$font: "Courier New", Courier, monospace;
// $font: "Roboto Mono", Courier, monospace;
// $font: "Source Code Pro", Courier, monospace;

$app-margin: 20px;
